<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./controllers/image-editor-controller.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/theme.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editor</title>
</head>

<body ng-app="imageEditorApp">

    <header>
        <h1>Image Editor Using ANGULARJS</h1>
    </header>

    <main ng-controller="imageEditorController">
        <section class="image">
            <img 
                src="https://www.gstatic.com/tv/thumb/persons/638494/638494_v9_ba.jpg" 
                alt="bryan_cranston" 
                ng-style="imageStyle"
            />
        </section>
        <section class="filters">
            <div>
                <label for="brightness">Brightness</label>
                <input type="range" ng-change="handleChange()" ng-model="brightness" class="slider" id="brightness">
            </div>

            <div>
                <label for="contrast">Contrast</label>
                <input type="range" ng-change="handleChange()" ng-model="contrast" class="slider" id="contrast">
            </div>

            <div>
                <label for="grayscale">Grayscale</label>
                <input type="range" ng-change="handleChange()" ng-model="grayscale" class="slider" id="grayscale">
            </div>

            <div>
                <label for="sepia">Sepia</label>
                <input type="range" ng-change="handleChange()" ng-model="sepia" class="slider" id="sepia">
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>