* {
    font-family: 'Solway', serif;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-image: linear-gradient(-177deg, #46344e, #5b5561, #5b5561, #46344e);
    padding: 0 1em;
    color: #FAED26;
}