<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./controllers/revision-controller.js"></script>
    <title>Revision</title>
</head>
<body ng-app="revisionApp">


    <main ng-controller="revisionController">
        {{ rhythmExcercises }}

        <input type="text" ng-model="name" />
        {{ name }}

        <p ng-repeat="rhythm in rhythms">
            {{ $index }}, {{ rhythm }}
        </p>

        <button ng-click="handleButtonClick()">click me!</button>
    </main>

</body>
</html>