<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./controllers/weather-controller.js"></script>
    <title>Weather App</title>
</head>
<body ng-app="weatherApp">
    <header>
        <h2>Weather App</h2>
    </header>
    <main ng-controller="weatherController">
        <select ng-change="handleChangeCities()" ng-model="city">
            <option value="Mumbai">Mumbai</option>
            <option value="Pune">Pune</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Nagpur">Nagpur</option>
        </select>

        <div class="displayWeather">
            <span class="display">
                {{ degrees }}
            </span>
        </div>
    </main>
    <footer></footer>
</body>
</html>