<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./controllers/filter-controller.js"></script>
    <title>Filters Demo</title>
</head>
<body ng-app="filterApp">
    <!-- pipes -->
    <main ng-controller="filterController">
        <p ng-repeat="pokemon in pokemons">
            {{ pokemon | uppercase }},
            {{ pokemon | lowercase }},
            {{ pokemon | limitTo:5 }}
        </p>
        <p>{{ date | date:'MM/dd/yyyy' }}</p>



        <div>
            <input type="text" ng-model="search">
            <p ng-repeat="musician in musicians | filter:search">
                {{ musician.name }}
            </p>
        </div>

        
    </main>
</body>
</html>