html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header, main, footer {
    display: flex;
}

header {
    background: #22232a;
    color:white;
    padding: 0 1em;
    font-family: 'Bangers', cursive;
    letter-spacing: 10px;
}

main {
    padding: 1em 0;
    flex: 1;
    flex-direction: column;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
    width: 600px;
}

.filters {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

.filters div {
    display: flex;
    padding: 1em;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    border: thin solid #f1f1f1;
    box-shadow: 0px 0px 5px 1px #ccc;
    margin: 0 1em;
    font-size: 1.5em;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}

.filters div:hover {
    background: #22232a;
    color: white;
}

.filters div:hover input {
    background: white;
}