<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="./main.js"></script>
    <script src="./controllers/bmi-controller.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>BMI Calculator</title>
</head>

<body ng-app="BMIApp">
    <header>
        <h1>BMI Calculator</h1>
    </header>
    <main ng-controller="bmiController">
        <section class="calculator">
            <div class="input">
                <label>Height</label>
                <span>{{ height | limitTo:3}}</span>
                <div>
                    <button ng-click="increaseHeight()">+</button>
                    <button ng-click="decreaseHeight()">-</button>
                </div>
            </div>
            <div class="input">
                <label>Weight</label>
                <span>{{ weight }}</span>
                <div>
                    <button ng-click="increaseWeight()">+</button>
                    <button ng-click="decreaseWeight()">-</button>
                </div>
            </div>
        </section>
        <section class="display">
            <div class="display-bmi">
                <span>{{ BMI | limitTo:5 }}</span>
            </div>
            <div class="display-message">
                <span>{{ message }}</span>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>