html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header, main, footer {
    display: flex;
}

header {
    background-color: rgb(34, 29, 29);
    color: white;
    padding: 0 1em;
    font-family: 'Lobster', cursive;
}

main {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    align-items: center;
    flex-direction: column;
}

select {
    padding: 0.5em;
    background: white;
    border: thin solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 1.4em;
    font-family: 'Lobster', cursive;
}