.calculator, .display {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.display {
    flex-direction: column;
    align-items: center;
    font-size: 5em;
    margin: 0 0 0.55em 0;
}

.display div {
    display: flex;
}

.display span {
    padding: 0.5em;
    background: #222629;
    color: #ade75d;;
    margin: 0.1em;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #ade75d;;
    background: #222629;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 10px;
    margin: 1em;
}

.input button {
    padding: 0.25em 0.5em;
    margin: 0.3em;
    background-color: #ade75d;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
}

.input button:active {
    background-color: #ade75d;
}

