html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Righteous', cursive;;
}

header, main, footer{
    display: flex;
}

header {
    background: #222629;
    color: #87c232;
    padding: 0 1em;
}

main {
    flex-direction: column;
    background-color: #87c232;
}
