* {
    font-family: 'Berkshire Swash', cursive;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 1em 2em;
    background: #ffe501;
    color: #292100;
}