* {
    font-family: Solway;
}

section {
    text-align: center;
}

input {
    padding: 0.5em;
    font-size: 1.5em;
    border: thin solid #ccc;
    border-radius: 5px;
    color: cornflowerblue;
    display: block;
    margin: 0 auto;
}

.form-group {
    margin: 1em;
}

button {
    list-style: none;
    padding: 1em;
    display: inline-block;
    margin: 0 1em;
    border: thin solid cornflowerblue;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
    color: white;
}
