<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>AngularJS Tutorials</title>
</head>

<!-- ng-app registers the application with the given name. -->

<body ng-app="ngSubmitApp">
    <main>
        <!-- ng-controller registers the controller that is going to "govern" the section -->
        <section ng-controller="submitController">
            <form name="registration_form" ng-submit="submit()">
                <div class="form-group">
                    <input type="text" name="name" ng-model="name" required>
                    <span class="error" ng-show="isSubmitted && registration_form.name.$error.required">Required</span>
                </div >
                <div class="form-group">
                    <input type="text" name="number" ng-model="number" required>
                    <span class="error"
                        ng-show="isSubmitted && registration_form.number.$error.required">Required</span>
                </div>
                <div class="form-group">
                    <input type="text" name="password" ng-model="password" required>
                    <span class="error"
                        ng-show="isSubmitted && registration_form.password.$error.required">Required</span>
                </div>

                <button>Submit</button>
            </form>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./ngsubmit.js"></script>
    <script src="./controllers/submit-controller.js"></script>
</body>

</html>