<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./services/data-service.js"></script>
    <script src="./controllers/revision-controller.js"></script>

    <title>Revision 2</title>
</head>
<body ng-app="revisionTwoApp">
    <div ng-controller="revisionController">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div ng-controller="revisionController">
        <p ng-repeat="user in users">
            {{ user.name }}, {{ user.phone }}
        </p>
    </div>
</body>
</html>